.hero {
    padding: 5rem 0;
    text-align: center;

    .links {
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: -1rem;

        li {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}
