section {
    text-align: center;

    &:nth-of-type(n+2) {
        margin-top: 5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .left {
        margin-top: 1rem;
        display: inline-block;
        text-align: left;
    }
}