.skills {
    margin-bottom: 3rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        &:last-of-type {
            margin-bottom: -1rem;
        }

        li {
            padding: .25rem .5rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            background: #444;
            border-radius: .25rem;
        }
    }
}