@import '../../../sass/colors';

.links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin: .5rem 1rem;

        a, span {
            padding: .5rem 1rem;
            display: inline-block;
            background: #FFF3;
            border-radius: .375rem;
            color: $white;
            text-decoration: none;
        }

        a {
            transition: background-color .3s;

            &:hover {
                background: #DDD3;
                color: #DDD;
            }
        }
    }
}