.slides {
    padding: 5rem 0;
    text-align: center;
    
    h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        margin-bottom: 2rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
            width: 40%;

            @media screen and (max-width: 1000px) {
                width: 100%;
            }

            iframe {
                width: 100%;
                aspect-ratio: 16 / 9;
                box-shadow: 0 0 10px 2px #222;
            }
        }
    }
}