.inner {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;

    @media screen and (max-width: 900px) {
        width: 92.5%;
    }
}

body {
    background: #222;
    color: #FFF;
}

main {
    margin-top: 4rem;
}
