*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.75;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}