.hero {
    display: flex;
    align-items: center;
    padding: 3rem 0;

    .left {
        display: flex;
        max-width: 50%;
        min-width: 500px;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 300px;
            height: auto;
            border-radius: 100%;
        }

        @media screen and (max-width: 1000px) {

            min-width: 300px;

            img {
                width: 200px;
            }
        }
    }

    .right {

        h2 {
            margin-bottom: 2rem;
        }

        .sns_list {
            display: flex;
            list-style-type: none;
            flex-wrap: wrap;
            margin-bottom: -1rem;

            li {
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    @media screen and (max-width: 750px) {
        display: block;

        .left {
            width: 100%;
            max-width: 100%;

            img {
                margin: 0 auto;
                width: 200px;
            }
        }

        .right {
            width: 100%;

            h2 {
                text-align: center;
            }
        }
    }
}
