@import './../../../sass/colors';

.first {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 10rem;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #0008;
        z-index: 20;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
    }

    .box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
        overflow-x: hidden;

        &::before, &::after {
            content: '';
            display: block;
            width: 9999vw;
            height: 100%;
            position: absolute;
            top: 0;
            right: 70vw;
            z-index: 35;
        }

        &::before {
            background: rgba($blue-lighter, 30%);
            transform: skewX(-30deg);
        }

        &::after {
            background: rgba($blue-darker, 30%);
            transform: skewX(30deg);
        }
    }

    h1 {
        width: 100%;
        text-align: center;
        font-size: 5rem;
        line-height: 1;
        position: relative;
        z-index: 50;

        @media screen and (max-width: 650px) {
            font-size: 2.5rem;
        }
    }

    .scroll_down {
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        bottom: 5vh;
        left: calc(50% - 1.5rem);
        z-index: 50;

        span {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: .5rem;
            border-right: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
            transform: rotate(45deg);
            animation: scrollSlideIn 3s ease-in-out infinite both;
            -webkit-animation: scrollSlideIn 3s ease-in-out infinite both;

            @keyframes scrollSlideIn{
                0%{
                    transform: translateY(-5px) rotate(45deg);
                    opacity:0
                }
                50%{
                    opacity:1
                }
                100%{
                    transform: translateY(5px) rotate(45deg);
                    opacity:0
                }
            }

            &:nth-of-type(1) {
                top: -10px;
                animation-delay: 0s;
            }

            &:nth-of-type(2){
                animation-delay: .5s
            }

            &:nth-of-type(3) {
                top: 10px;
                animation-delay: 1s
            }
        }
    }
}