@import './../../../sass/colors';

.first {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 10rem;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #0008;
        z-index: 20;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
    }

    .box {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
        overflow-x: hidden;

        &::before, &::after {
            content: '';
            display: block;
            width: 9999vw;
            height: 100%;
            position: absolute;
            top: 0;
            right: 70vw;
            z-index: 35;
        }

        &::before {
            background: rgba($blue-lighter, 30%);
            transform: skewX(-30deg);
        }

        &::after {
            background: rgba($blue-darker, 30%);
            transform: skewX(30deg);
        }
    }

    h1 {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 5rem;
        line-height: 1;
        z-index: 50;
        font-family: "Roboto", sans-serif;

        @media screen and (max-width: 650px) {
            font-size: 2.5rem;
        }
    }

    .link {
        position: absolute;
        top: calc(50% + 5rem);
        width: 100%;
        z-index: 50;
        font-family: "Roboto", sans-serif;

        @media screen and (max-width: 650px) {
            top: calc(50% + 2.5rem);

            li {
                padding: 0 .5rem!important;

                a {
                    width: 2.5rem!important;
                    height: 2.5rem!important;

                    img {
                        width: 1.6rem!important;
                    }
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                padding: 0 1rem;

                a {
                    display: flex;
                    width: 3.5rem;
                    height: 3.5rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: solid 1px #FFF;
                    transition: opacity 300ms;

                    &:hover {
                        opacity: 0.8;
                    }

                    &:active {
                        opacity: 0.6;
                    }

                    img {
                        width: 2.5rem;
                        height: auto;
                    }
                }
            }
        }
    }

    .more {
        position: absolute;
        bottom: 5vh;
        left: 0;
        z-index: 50;
        width: 100%;
        text-align: center;

        & > div {
            display: inline-block;
            cursor: pointer;
        }

        p {
            padding: .25rem 0;
            font-family: "Roboto", sans-serif;
        }

        .scroll_down {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            position: relative;

            span {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                position: absolute;
                left: .5rem;
                border-right: 2px solid #FFF;
                border-bottom: 2px solid #FFF;
                transform: rotate(45deg);
                animation: scrollSlideIn 3s ease-in-out infinite both;
                -webkit-animation: scrollSlideIn 3s ease-in-out infinite both;

                @keyframes scrollSlideIn{
                    0%{
                        transform: translateY(-5px) rotate(45deg);
                        opacity:0
                    }
                    50%{
                        opacity:1
                    }
                    100%{
                        transform: translateY(5px) rotate(45deg);
                        opacity:0
                    }
                }

                &:nth-of-type(1) {
                    top: -10px;
                    animation-delay: 0s;
                }

                &:nth-of-type(2){
                    animation-delay: .5s
                }

                &:nth-of-type(3) {
                    top: 10px;
                    animation-delay: 1s
                }
            }
        }
    }
}